:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400; 
}



body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 1.6rem;
}
.heading-one{
  text-align: center;
  line-height: 1.8;
}
input{
  padding: 10px 16px;
  font-size: 20px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid teal;
}
input:focus{
  outline: none;
  background-color: rgb(192, 226, 226);
}



